<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/list.css" />
    <link rel="stylesheet" href="/css/login1.css" />
</head>

<body>